@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cell-size: calc(100vmin / 19);
  --grid-gap: calc(var(--cell-size) / 5);
  --grid-blocks: 15;

  /* Default Theme = Contrasting Citrus */
  --primary-color: #fae6b1;
  --selection-color: #ffa101;
  --text-color: #b3dee5;
  --container-color: #31525b;
  --gridcells-color: #b3dee5;
  --container-text-color: #31525b;
  --list-border-color: #31525b;
}

body {
  background-color: var(--primary-color);
  color: var(--container-text-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  border: 1px solid silver;
  background: white;
  cursor: -webkit-grab;
  display: block;
}
